<!DOCTYPE html>
<html>
   <head>
     <title> Saini Careers</title>
     <style>
       h1 {
         font: size; 40px;
         font-family: Roboto;
         font-weight: normal;
         color: rgb(100, 100, 100)
         text-aligncenter;
       }
       #banner {
         width: 100%;
         height: 360px;
         
       }

       .bodytext {
         font-family: Roboto;
         color: rgb(80, 80, 80)
       }
       #container {
         max-width: 720px;
         margin: 0 auto 0 auto;
       }
     </style>
   </head>
   <body>
     <div id="container">
     <h1>Hello There, you'll learn about the job opening at Saini Careers</h1>
     <img id="banner"src="https://be20eef7-acf1-4f77-a32f-97a1c7c16fba-00-21wf8jad1qpcs.pike.replit.dev/static/banner.jpeg.jpg"
       height="320">
     <h2>About Saini</h2>
       <p class="bodytext">
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elit eget gravida cum sociis. Luctus venenatis lectus magna fringilla. Bibendum neque egestas congue quisque egestas diam. Pharetra et ultrices neque ornare aenean euismod. Quam nulla porttitor massa id neque. Purus non enim praesent elementum facilisis leo vel fringilla est. Purus sit amet volutpat consequat mauris. Cras adipiscing enim eu turpis egestas. Volutpat commodo sed egestas egestas fringilla phasellus faucibus.</p>
     <h2>Open Positions</h2>
     <p>TODO - Show the jobs here</p>
     <div style="text -align:center;"> 
       <button>Contact Us</button>
       <p>Copyright 2024 Saini Corp</p>
     </div>
   </body>
</html>